.sidebarContainer{
    width: 350px;
    height: 100%;
    min-height: 1750px;
    padding: 16px;
    float: left;
    text-align: left;
    border-right: 1px solid rgb(208, 213, 214);;
}

.hrSideBar{
    background-color: rgba(0,0,0,.1215686275);
    height: 3px;
}

.ulSideBar{
    cursor: pointer;
    margin: 10px 0px;
}
.ulSideBar p{
    font-size: 24px;
    display: flex;
    align-items: center;
}
.ulSideBar input{
    margin: 10px;
    transform: scale(1.5); /* Tăng kích thước checkbox */
}

.ulSideBar li{
    cursor: pointer;
}

.ulSideBar li:hover{
    background-color:grey;
}