.footerContainer{
    background: rgba(8, 1, 0, 0.03);
    width: 100%;
    padding-top: 16px;
    float: left;
}

h2{
    font-size:16px;
    margin-left:16px !important;
    font-weight: 500;
}
.imgFooter{
    max-width: 100%;
    display: block;
    height: auto;
    max-height: 8rem;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px;
    margin: 8px 0px;
}

.flexItem{
    min-width: 230px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 3em;
    margin-left: 1px;
    margin-bottom: 1px;
    
}

.bottomFooter{
    color:white;
}
.gridContainer{
    display:grid;
    grid-template-columns: auto auto auto auto;
}

.gridColumn{
    margin-right: 1px;
    /* height: 300px; */
    background: rgb(173, 24, 13);
    padding: 24px;

}
p{
    font-size: 14px;
}

.columnTitle{
    margin-bottom: 24px;
}

.columnContent{
    margin-bottom: 16px;
    cursor: pointer;
}

.columnContent a{
    border-bottom: 1px solid white;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.underGridContainer{
    background: #7b1b0e;

    padding: 16px 32px;
}

h3{
    font-size:16px;
    margin-bottom: 16px;
}

.spanFooter{
    margin-right: 16px;
    font-size: 14px;
    margin-bottom: 16px;
}

.left{
    border-bottom: 1px solid white;
}

.margin-16px{
    margin-top: 16px;
}

