
.navbar{
    background-color: #4c4b4a;
    padding-left: 350px;
    height: 60px;
}
.navbarButton{
    font-size:16px;
    padding:16px;
    height: 100%;
    margin-right: 1px;
    background-color: #565554;
    color:white;
    font-family: roboto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbarButtonText{
    margin-left: 15px;
    font-weight: 500;
}

.navbarButtonActive{
    background-color: black;
}

.navbarButton:hover{
    background-color: #56555477;
}