.footerContainer{
    background: rgba(8, 1, 0, 0.03);
    height: 2000px;
    width: 100%;
    padding-top: 16px;
}

h2{
    font-size:16px;
    margin-left: 8px;
    font-weight: 500;
}
img{
    max-width: 100%;
    /* object-fit: contain; */
    display: block;
    height: auto;
    max-height: 8rem;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px;
    margin: 8px 0px;
}

.flexItem{
    flex-basis: 3em;
    min-width: 230px;
    
}

li{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    margin-left: 1px;
    margin-bottom: 1px;
}
/* 
@media only screen and (max-width: 960px) {
    .flexItem{
        flex-basis: 20%;
    }
  } */