@import url(https://fonts.googleapis.com/css?family=Material+Icons);

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.topHeader {
  height: 45px;
  background-color: #ad180d;
  width: 100%;
  position: relative;
}

.loginButton {
  background-color: #ad180d;
  border: 0;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 64px;
  padding: 0 16px;
  font-family: "Roboto";
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.loginButton:hover {
  background-color: #c22318;
}

.loginButton span {
  font-size: 16px;
  font-weight: 500;
}

.bottomHeader {
  display: flex;
  height: 111px;
  background-color: #da2a1c;
  width: 100%;
}

.leftHeader {
  padding: 16px 0px;
  padding-left: 24px;
}

.imgTop {
  height: 80px;
}

.middleContainer {
  flex: 1 1;
  display: flex;
  align-items: center;
}

.middleContainer input {
  width: 50%;
  padding: 8px;
  border: 0;
  height: 45px;
}

.searchBox {
  height: 45px;
  padding: 8px;
  border: 0;
  width: 45px;
  font-size: 24px;
  background: #404f5a;
  cursor: pointer;
}

.dropdownMenu {
  height: 45px;
  padding: 8px;
  border: 0;
  width: 45px;
  font-size: 24px;
  background: none;
  color: white;
  display: none;
}
.middleContainer a {
  margin-left: 20px;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}
.searchContainer {
  display: flex;
  align-items: center;
  height: 45px;
  justify-content: center;
  flex: 1 1;
}

.rightHeader {
  min-width: 300px;
  height: 100%;
  display: flex;
  padding-right: 24px;
}

.rightHeader a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-left: 1px solid white;
  color: white;
  text-decoration: none;
}

.rightHeader a span {
  font-size: 18px;
  font-weight: 550;
}
svg path {
  stroke: white;
}

.yellowButton {
  background-color: rgb(255, 196, 118);
  color: black !important;
  border-left: 1px solid rgb(255, 196, 118) !important;
}

@media only screen and (max-width: 960px) {
  .rightHeader {
    display: none;
  }
  .searchContainer span {
    display: none;
  }
  .dropdownMenu {
    display: block;
  }
}
