.ant-tooltip-inner {
  display: none;
}

.ant-tooltip-arrow::before {
  display: none;
}

.select-page {
  margin-left: 20px;
}
.ant-table-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.page-total-page {
  width: 70px;
}

.list-roles {
  display: inline-flex;
  flex-wrap: wrap;
}

.role {
  text-align: center;
  padding: 0px 10px;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.action-divider:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.action {
  cursor: pointer;
  margin: 0 4px;
  font-size: 18px;
}

/* .action:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} */

.button-disabled {
  pointer-events: none;
  opacity: 0.3;
  /* color: #d7cbcb; */
}

.ant-popover-arrow {
  display: none;
}

.ant-popover-arrow::before {
  display: none;
}

.bg-red {
  color: rgb(239, 62, 62);
}

.page-size {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filter-table {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  background-color: #f0eded;
  padding: 20px 0;
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.search {
  width: 70%;
}

.input-search-bar {
  width: 100%;
  color: #9c9393;
  outline: none;
}

.btn-add-new {
  order: 0;
}
