@import url(https://fonts.googleapis.com/css?family=Material+Icons);

.topHeader {
  height: 45px;
  background-color: #AD180D;
  width: 100%;
  position: relative;
}

.loginButton {
  background-color: #AD180D;
  border: 0;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 64px;
  padding: 0 16px;
  font-family: "Roboto";
}

.loginButton span {
  font-size: 16px;
  font-weight: 500;
}

.bottomHeader {
  display: flex;
  height: 111px;
  background-color: #da2a1c;
}

.leftHeader {
  padding: 16px 0px;
  padding-left: 24px;
}

.imgTop {
  height: 100%;
  object-fit: contain;
}

.middleContainer {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.middleContainer input {
  width: 300px;
  padding: 8px;
  border: 0;
  height: 29px;
  
}

.middleContainer button {
  height: 45px;
  padding: 8px;
  border: 0;
  width: 45px;
  font-size: 24px;
  background: #404f5a;
}

.middleContainer a{
  margin-left: 20px;
  color: white;
  /* border-bottom:1px solid white; */
}
.searchContainer {
  display: flex;
  align-items: center;
  height: 45px;
}

.rightHeader {
  min-width: 300px;
  height: 100%;
  display: flex;
  padding-right: 24px;
}

.rightHeader a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-left: 1px solid white;
  color: white;
}

.rightHeader a span {
  font-size: 18px;
  font-weight: 550;
  

}
svg path {
  stroke: white;
}

.yellowButton {
  background-color: rgb(255, 196, 118);
  color: black !important;
  border-left: 1px solid rgb(255, 196, 118) !important;
}