.link-logo img {
  width: 40px;
  height: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfbfb;
  /* padding: 0 10px; */
}

.left-header {
  display: flex;
  align-items: center;
  height: 100%;
}

.title-header {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 0;
  font-family: SVN-Product Sans, sans-serif;
}
.link-logo {
  height: 40px;
  display: block;
  margin-left: 15px;
  margin-right: 20px;
}

.btn-menu {
  align-self: center;
  border-radius: 30px;
}

.right-header {
  height: 100%;
  margin-right: 20px;
}

.btn-user {
  height: 100%;
  padding: 0 40px;
  border: none;
  background-color: #fbfbfb;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-user:hover {
  background-color: #f3e9e9;
}

.btn-user:hover .name-user {
  color: #222020;
}

.avatar-user {
  height: 36px;
  min-width: 36px;
  width: 36px;
  background-color: rgb(0, 137, 123);
  border-color: rgb(0, 137, 123);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  color: #fbfbfb;
  margin-right: 10px;
}

.name-user {
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #222020;
}

.menu-items {
  height: 91vh;
}
.ant-tooltip-inner {
  display: none;
}

.ant-tooltip-arrow::before {
  display: none;
}
